
.hero-list{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    align-items: center;
  }
  
  
  .super_hero_page{
    background-color: linear-graidient(blue, skyblue);
  }
  .list-of-heroes{
    background-color: linear-graidient(red,green);
  }
